body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px 0px 100px;
}

.header-links {
    display: flex;
}

.hero-content {
    display: flex;
    padding: 100px;
    justify-content: space-between;
}

.picture-section {
    display: flex;
    flex-direction: column;
    padding: 25px 100px 100px 100px;
    align-items: center;
}

.picture-section-title {
    padding-bottom: 25px;
}


.snapshots {
    display: flex;
    gap: 40px;
}



.hero-image {
    width: 400px;
    max-height: 200px;
    object-fit: cover;
}

.snapshot-picture {
    width: 150px;
    height: 150px; 
    object-fit: cover;
}

.snapshot-text {
    width: 150px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}