body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px 0px 100px;
}

.header-links {
    display: flex;
}

.hero-content {
    display: flex;
    padding: 100px;
    justify-content: space-between;
}



.hero-image {
    max-width: 200px;
    max-height: 400px;
}

.snapshot-picture {
    max-width: 200px;
    max-height: 400px; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}