

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.hero, .footer{
    background-color: #1f2937; 
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px 0px 100px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
}

.hero-content {
    display: flex;
    padding: 100px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title-subtext, .header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    width: 400px;
    max-height: 200px;
    object-fit: cover;
    padding-left: 32px;
}

.content {
    min-height: calc(100vh - 56px);
}

.picture-section {
    display: flex;
    flex-direction: column;
    padding: 25px 100px 100px 100px;
    align-items: center;
}

.picture-section-title {
    padding-bottom: 25px;
    text-align: center;
}


.snapshots {
    display: flex;
    gap: 40px;
    padding: 0px 32px 0px 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.snapshot-picture {
    width: 150px;
    height: 150px; 
    object-fit: cover;
}

.snapshot-text {
    width: 150px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px 100px 150px;
}

.quote-attribution {
    display: flex;
    padding-left: 500px
}

.cta-box {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
    padding: 25px 75px;
    background-color: blue;
}

.footer {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}



